<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="//fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <title>Home Fusion </title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/admin/assets/css/style-starter.css">
</head>

<body>
<!-- header top-->
<!-- //header top-->

<!--header-->
<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg">
          <h1><a class="navbar-brand" href="/adminhome">
                  <span class="sub-log">Home</span> Fusion
              </a></h1>
          <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/adminhome">Home <span class="sr-only">(current)</span></a>
                  </li>

                   <li class="nav-item dropdown @@blog__active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Owner <span class="fa fa-angle-down"></span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item @@b__active" href="/admin_add_owner#a">Add </a>
                          <a class="dropdown-item @@bs__active" href="/admin_view_owner#a">View</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown @@blog__active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Notification <span class="fa fa-angle-down"></span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item @@b__active" href="/sent_notification#a">Add </a>
                          <a class="dropdown-item @@bs__active" href="/admin_view_notification#a">View</a>
                      </div>
                  </li>
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href="/admin_view_property#a">Property</a>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/admin_view_complaints#a">Complaints</a>
                  </li> <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/admin_change_password#a">Change Password</a>
                  </li>


              </ul>
          </div>

          <div class="d-lg-block d-none">
              <a href="/logout" class="btn btn-style btn-primary">Logout</a>
          </div>

          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container py-1">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>
  </div>
</header>
<!-- //header -->

<!-- banner main-slider -->
 <section class="w3l-main-slider" id="home">
     <div class="companies20-content">
         <div class="owl-one owl-carousel owl-theme">
             <div class="item">
                 <li>
                     <div class="slider-info banner-view bg bg2">
                         <div class="banner-info">
                             <div class="container">
                                 <div class="banner-info-bg">
                                     <h5>Good Property for Stylish Living. Make your Life Modern.
                                     </h5>
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#services"> Our#}
{#                                         Services</a>#}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
             <div class="item">
                 <li>
                     <div class="slider-info  banner-view banner-top1 bg bg2">
                         <div class="banner-info">
                             <div class="container">
                                 <div class="banner-info-bg">
                                     <h5>Best Home Property. From Best Owners</h5>
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#services"> Our#}
{#                                         Services</a>#}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
             <div class="item">
                 <li>
                     <div class="slider-info banner-view banner-top2 bg bg2">
                         <div class="banner-info">
                             <div class="container">
                                 <div class="banner-info-bg">
                                     <h5>Browse Property and get Inspired. Home decoration services.
                                     </h5>
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#"> #}
{#                                         Services</a>#}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
             <div class="item">
                 <li>
                     <div class="slider-info banner-view banner-top3 bg bg2">
                         <div class="banner-info">
                             <div class="container">
                                 <div class="banner-info-bg">
                                     <h5>Get your Personalized interior & Home design services</h5>
                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="services.html"> Our
                                         Services</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
         </div>
     </div>
 </section>
 <!-- // banner main-slider -->

<!-- home page block1 -->
<section id="services" class="home-services py-5">
  <div class="container">
{#    <div class="row">#}
{#      <div class="col-lg-4 col-md-6 col-sm-12">#}
{#        <div class="box-wrap">#}
{#          <div class="icon">#}
{#            <span class="fa fa-pencil-square-o"></span>#}
{#          </div>#}
{#          <h4><a href="#url">Flats</a></h4>#}
{#          <p>Flats have multiple living units within one building, offering convenience, security, and proximity to urban amenities. They range from studios to multi-bedroom units, ideal for low-maintenance city living.#}
{##}
{##}
{##}
{#          </p>#}
{#          <a href="#" class="read">Read more</a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">#}
{#        <div class="box-wrap">#}
{#          <div class="icon">#}
{#            <span class="fa fa-shower"></span>#}
{#          </div>#}
{#          <h4><a href="#">Houses</a></h4>#}
{#          <p>A house is a standalone building typically designed for single-family living. It offers private outdoor space and greater privacy compared to flats or apartments. Houses are often found in suburban or rural areas, providing a spacious environment for families.</p>#}
{#          <a href="#read" class="read">Read more</a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">#}
{#        <div class="box-wrap">#}
{#          <div class="icon">#}
{#            <span class="fa fa-bed"></span>#}
{#          </div>#}
{#          <h4><a href="#url">Home Decoration</a></h4>#}
{#          <p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit.#}
{#            doloret quas saepe autem, dolor set.</p>#}
{#          <a href="#read" class="read">Read more</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>
</section>
<!-- //home page block1 -->


<div class="" id="a">
    {% block body %}
    {% endblock %}
</div>

  

{#<!-- home page block4 -->#}
{#<section class="w3l-homeblock3 py-5">#}
{#    <div class="container py-lg-5 py-md-4">#}
{#        <div class="row">#}
{#            <div class="col-lg-6 ">#}
{#                <img src="/static/admin/assets/images/s2.jpg" class="img-fluid radius-image" alt="">#}
{#            </div>#}
{#            <div class="col-lg-6 align-self mt-lg-0 mt-4">#}
{#                <div class="row mb-sm-4 mb-2 pb-3">#}
{#                    <div class="col-sm-3 col-4">#}
{#                        <span>125</span>#}
{#                        <h4>Designers</h4>#}
{#                    </div>#}
{#                    <div class="col-sm-3 col-4">#}
{#                        <span>350+</span>#}
{#                        <h4>Projects</h4>#}
{#                    </div>#}
{#                    <div class="col-sm-3 col-4">#}
{#                        <span>1200+</span>#}
{#                        <h4>Clients</h4>#}
{#                    </div>#}
{#                </div>#}
{#                <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi voluptatibus repellat#}
{#                    voluptate nobis praesentium inventore est cupiditate labore exercitationem adipisci consequuntur#}
{#                    corrupti tenetur, omnis ratione cumque.</p>#}
{#                <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{#<!-- //home page block4 -->#}

<!-- home page block5 -->
<div class="w3l-homeblock4 py-5" id="quote">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            <h3>Let your designer find the right pieces for you, your space and budget. Give us a call or get in touch!</h3>
{#            <a href="about.html" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Read More</a>#}
            <a href="/adminhome" class="btn btn-style btn-primary mt-sm-5 mt-4">Start with us</a>
        </div>
    </div>
</div>
<!-- //home page block5 -->



<!-- footer -->
<footer class="w3l-footer py-5">
  <div class="container pt-lg-5 pt-md-3">
    <div class="footer-grid_section text-center">
      <div class="footer-title mb-3">
        <h2> <a class="navbar-brand" href="/adminhome">
            <span class="sub-log">Home</span> Fusion
          </a></h2>
      </div>
      <div class="footer-text">
        <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ipnut libero
          malesuada feugiat.
          Lorem ipsum dolor sit amet elit.</p>
      </div>
    </div>

    <!-- copyright -->
    <section class="w3l-footer-29-main w3l-copyright">
      <div class="text-center">
        <p class="copy-footer-29">© 2024 Home Fusion. All rights reserved</p>
      </div>
    </section>
    <!-- //copyright -->

  </div>
  <!-- //footer bottom -->

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->

</footer>
<!-- //footer -->

<!-- Template JavaScript -->

<script src="/static/admin/assets/js/jquery-3.3.1.min.js"></script>

<script src="/static/admin/assets/js/theme-change.js"></script>

<!-- magnific popup -->
<script src="/static/admin/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- magnific popup -->

<script src="/static/admin/assets/js/owl.carousel.js"></script>
<!-- script for banner slider -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for banner slider -->

<!-- script for Testimonials-->
<script>
  $(document).ready(function () {
    $('.owl-two').owlCarousel({
      loop: true,
      margin: 30,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        480: {
          items: 1,
          nav: true
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for Testimonials-->

<!-- script for services -->
<script>
  $(document).ready(function () {
    $('.owl-news').owlCarousel({
      loop: true,
      margin: 30,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        768: {
          items: 2,
          nav: false
        },
        1000: {
          items: 3,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for services -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<script src="/static/admin/assets/js/bootstrap.min.js"></script>

</body>

</html>